.topnav{
    padding: 10px;
    margin-bottom: 40px;
    overflow: hidden;
    
}
.topnav a{
    float: left;
    display: block;
    color: black;
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    font-family: Impact, Charcoal, sans-serif;
    padding: 14px 16px;
    text-decoration: none;
}

.topnav a:hover {
    color: #24c875;
}

.container{
    width: 1200px;
    margin: auto
}
div.gallery {
    margin: 30px;
    float: left;
    border: 1px solid #ccc;
    width: 27%;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    font-family: serif;
    color: green
}

table.Table1 {
  font-family: "Times New Roman", Times, serif;
  border: 0px solid #000000;
  background-color: #EEEEEE;
  width: 100%;
  height: 200%;
  text-align: left;
  border-collapse: collapse;
}
table.Table1 td, table.Table1 th {
  border: 0px solid #E0E0E0;
  padding: 2px 20px;
}
table.Table1 tbody td {
  font-size: 15px;
  color: #000000;
}
table.Table1 tr:nth-child(even) {
  background: #D0E4F5;
}
table.Table1 tfoot td {
  font-size: 14px;
}
table.Table1 tfoot .links {
  text-align: right;
}
table.Table1 tfoot .links a{
  display: inline-block;
  background: #1C6EA4;
  color: #FFFFFF;
  padding: 2px 8px;
  border-radius: 5px;
}

tr>td:nth-child(1){
  width:400px;
}
tr>td:nth-child(3){
  width:300px;
}

input[type=submit] {background-color: orange;
      width: 20%;
      padding: 10px 10px;
      font-size: 100%;
      color: white;}
h1 {
    font-family: Impact, Charcoal, sans-serif;
    font-size: 30px;
    color: darkgreen;
    text-align: center;
}

.loginbox{
    width: 302px;
    height:  420px;
    background: #fff;
    color: #000;
    top: 50%;
    left: 50%;
    position: sticky;
    transform: translate(-50%, -50%);
    box-sizing:  border-box;
    
}

.loginbox h2{
    text-align: center;
}

.loginbox m{
    margin: 0;
    padding: 0;
    font-weight: bold;
    
}
.loginbox input{
    width: 100%;
    margin-bottom: 20px;
    
}

.loginbox input[type="text"], input[type="password"]{
    border: none;
    border-bottom: 1px solid #000;
    background: transparent;
    outline: none;
    height: 40px;
    color: #000;
    font-size: 16px;
}
