<!DOCTYPE html>
<html>
<head>

<title>Create Account</title>
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'PinelandsMusicSchool/style.css' %}" />

<style>

body {background-color: white;}

h1   {color: darkgreen;
    font-family: verdana;
    font-size: 200%;
  text-align: center;}

p    {color: black;
      font-family: verdana;
      font-size: 100%;
    text-align: center;}

h2 {color: black;
    font-family: verdana;
    font-size: 100%;
    text-align: center;}

.container {
  width: 50%;
  clear: both;
  padding-left: 25%;
  font-family: verdana;
}

.container input {
  width: 100%;
  clear: both;
}

input[type=text], input[type=password] {border-top-style: none;
    border-right-style: none;
    border-bottom-style: solid;
    border-left-style: none;
    border-color: lightgreen;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;}

input[type=submit] {background-color: orange;
      width: 20%;
      padding: 10px 10px;
      font-size: 100%;
      color: white;}

input[type=cancel] {background-color: orange;
      width: 20%;
      padding: 10px 10px;
      font-size: 100%;
      color: white;
    margin-left: 10px;}

    .submit_cancel a {
        color: white;
        padding: 10px;
        margin-right: 20px;
        background-color: orange;
        text-decoration: none;
        display: inline-block;
        border-radius: 2px;
        width: 20%;
        text-align: center;
    }

</style>

    <script type="text/javascript">

function yesnoCheck() {
    if (document.getElementById('yesCheck').checked) {
        document.getElementById('ifYes').style.display = 'block';
    }
    else document.getElementById('ifYes').style.display = 'none';
}


</script>

</head>

  <h1>
        <img src="../../static/PinelandsMusicSchool/images/Banner_Image.png" align= "left" name="Banner" width="350" height="85" margin-bottom="10px" >
</h1>
      <div class="topnav">
      <a href= {% url 'PinelandsMusicSchool:index' %}>Home</a>
      <a href= {% url 'PinelandsMusicSchool:Book_lessons' %}>Book Lessons</a>
      <a href= {% url 'PinelandsMusicSchool:hiring_info' %}>Hire Instruments</a>
      <a href="#">Our Teachers</a>
      <a href= {% url 'PinelandsMusicSchool:Login' %}>Login</a>
    </div>

<h1>Create an account</h1>

<div class="container">
<form action="/action_page.php" method="post">
  First name:<br>
  <input type="text" name="firstname" required>
  <br>
  Last name:<br>
  <input type="text" name="lastname">
  <br>
  Email:<br>
  <input type="text" name="lastname">
  <br>
  Age:<br>
  <input type="text" name="lastname">
  <br>
  Password:<br>
  <input type="Password" name="lastname">
  <br>
  Password again:<br>
  <input type="Password" name="lastname">
  <br>
  Gender:<br>
  <input type="radio" name="gender" value="male" checked> Male<br>
  <input type="radio" name="gender" value="female"> Female<br>
  <input type="radio" name="gender" value="other"> Other
  <br>
  Phone Number:<br>
  <input type="text" name="lastname">
  <br>
  Phone Number (2):<br>
  <input type="text" name="lastname">
  <br>

    Are you under the age of 18?
    <br>
Yes <input type="radio" onclick="javascript:yesnoCheck();" name="yesno" id="yesCheck"> No <input type="radio" onclick="javascript:yesnoCheck();" name="yesno" id="noCheck"><br>
    <div id="ifYes" style="display:none">
        <h2>Please fill out the following information:</h2>
  <h2>Guardian 1</h2>
  First name:<br>
  <input type="text" name="firstname">
  <br>
  Last name:<br>
  <input type="text" name="lastname">
  <br>
  Relation:<br>
  <input type="text" name="lastname">
  <br>
  Phone Number:<br>
  <input type="text" name="lastname">
  <br>
  Email:<br>
  <input type="text" name="lastname">
  <br>

 <h2>Guardian 2</h2>
  First name:<br>
  <input type="text" name="firstname">
  <br>
  Last name:<br>
  <input type="text" name="lastname">
  <br>
  Relation:<br>
  <input type="text" name="lastname">
  <br>
  Phone Number:<br>
  <input type="text" name="lastname">
  <br>
  Email:<br>
  <input type="text" name="lastname">
  <br>
</div>

    <div class="submit_cancel">
        <a href="#">Submit</a>
        <a href="index.html">Cancel</a>
    </div>

</form>
</div>



</body>
</html>
