<!DOCTYPE html>
<html>
<head>

<title>Hiring Guitar Form</title>
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'PinelandsMusicSchool/style.css' %}" />

<style>

body {background-color: white;}

h1   {color: darkgreen;
    font-family: verdana;
    font-size: 200%;
  text-align: center;}

p    {color: black;
      font-family: verdana;
      font-size: 100%;
    text-align: center;}

h2 {color: black;
    font-family: verdana;
    font-size: 100%;
    text-align: center;}

.container {
  width: 50%;
  clear: both;
  padding-left: 25%;
  font-family: verdana;
}

.container input {
  width: 100%;
  clear: both;
}

    input[type=text], input[type=password], input[type=date] {border-top-style: none;
    border-right-style: none;
    border-bottom-style: solid;
    border-left-style: none;
    border-color: lightgreen;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;}

input[type=submit] {background-color: orange;
      width: 20%;
      padding: 10px 10px;
      font-size: 100%;
      color: white;}

input[type=cancel] {background-color: orange;
      width: 20%;
      padding: 10px 10px;
      font-size: 100%;
      color: white;
    margin-left: 10px;}

    .submit_cancel a {
        color: white;
        padding: 10px;
        margin-right: 20px;
        background-color: orange;
        text-decoration: none;
        display: inline-block;
        border-radius: 2px;
        width: 20%;
        text-align: center;
    }

</style>
</head>
<body>

  <h1>
          <img src="../../static/PinelandsMusicSchool/images/Banner_Image.png" align= "left" name="Banner" width="350" height="85" margin-bottom="10px" >
  </h1>

  <div class="topnav">
  <a href= {% url 'PinelandsMusicSchool:index' %}>Home</a>
  <a href= {% url 'PinelandsMusicSchool:Book_lessons' %}>Book Lessons</a>
  <a href= {% url 'PinelandsMusicSchool:hiring_info' %}>Hire Instruments</a>
  <a href="#">Our Teachers</a>
  <a href= {% url 'PinelandsMusicSchool:Login' %}>Login</a>
  </div>

<h1>Hiring Guitar Form</h1>

<div class="container">
<form>
  I will need to hire this instrument from:
  <input type="date" name="hire_date">
    To:
    <input type="date" name="hire_date">
    <br>
    Will you require a pick?
    <input type="radio" name="pick" value="yes_pick"> Yes<br>
  <input type="radio" name="pick" value="no_pick"> No<br>
    <br>
        Do you have lessons with us using this instrument?
    <input type="radio" name="lessons_enquiry" value="yes_pick"> Yes<br>
  <input type="radio" name="lessons_enquiry" value="no_pick"> No<br>



    <div class="submit_cancel">
        <a href="#">Submit</a>
        <a href="index.html">Cancel</a>
    </div>

</form>
</div>



</body>
</html>
