<!DOCTYPE html>
<html>
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'PinelandsMusicSchool/style.css' %}" />

<head>

    <script type="text/javascript">
        <!-->
        var image1 = new Image()
        image1.src = "../../static/PinelandsMusicSchool/images/Slide1.jpg"
        var image2 = new Image()
        image2.src = "../../static/PinelandsMusicSchool/images/Slide2.jpg"
        var image3 = new Image()
        image3.src = "../../static/PinelandsMusicSchool/images/Slide3.jpg"
        //-->


    </script>

    <title>Music School </title>


    <body>

        <h1>

        <img src="../../static/PinelandsMusicSchool/images/Banner_Image.png" align= "left" name="Banner" width="350" height="85" margin-bottom="10px" >
</h1>
          <div class="topnav">
          <a href= {% url 'PinelandsMusicSchool:index' %}>Home</a>
          <a href= {% url 'PinelandsMusicSchool:Book_lessons' %}>Book Lessons</a>
          <a href= {% url 'PinelandsMusicSchool:hiring_info' %}>Hire Instruments</a>
          <a href="#">Our Teachers</a>
          <a href= {% url 'PinelandsMusicSchool:Login' %}>Login</a>
        </div>


        <img src="../../static/PinelandsMusicSchool/images/Slide1.jpg" name="slide" width="100%" height="450">

        <script type="text/javascript">
            <!--
            var step = 1

            function slideit() {
                document.images.slide.src = eval("image" + step + ".src")
                if (step < 3)
                    step++

                    else step = 1 setTimeout("slideit()", 2500)
            }
            slideit() //-->
        </script>

        <div class="container">


            <div class="gallery">

                <a href="lesson_info.html">
                    <img src="../../static/PinelandsMusicSchool/images/Guitar.jpg" alt="Guitar1" width="300" height="200">
                </a>
                <div class="desc">Book Lessons</div>
            </div>

            <div class="gallery">

                <a href="hiring_info.html">
                    <img src="../../static/PinelandsMusicSchool/images/guitar2.jpg" alt="Guitar2" width="600" height="400">
                </a>
                <div class="desc">Hire Instruments</div>
            </div>

            <div class="gallery">
                <a href="#">
                    <img src="../../static/PinelandsMusicSchool/images/Teachers.jpg" alt="Teachers" width="600" height="400">
                </a>
                <div class="desc">Our Teachers</div>
            </div>
        </div>

        <div class="table1">
            <table class="Table1">
                <tbody>
                    <tr>
                        <td style="font-family: sans-serif; padding-left: 100px"><span style="color: darkslategray">
From private lessons in the comfort of your own home, to
yearly programs in our fully equipped classrooms, Key Lessons
    will find the way to bring the love of music into your life</span></td>
                        <td style="padding-right: 70px"><img src="../../static/PinelandsMusicSchool/images/Tree.jpg" align="center" alt="tree" height="200px" width="420px"></td>
                        <td style="font-family: sans-serif; padding-right: 100px"><span style="color: darkslategray">Call now for a FREE first lesson. The number is 123-456-7890</span></td>
                    </tr>
                </tbody>
            </table>

        </div>

        <table style="height: 72px; width: 100%; margin-top: 20px">
            <tbody>
                <tr>
                    <td style="width: 188px; text-align: center;"><span style="color: green,">OPENING HOURS</span></td>
                    <td style="width: 183px;">
                        <div class="header-block align-header-left" style="text-align: center;">
                            <div class="title"><span class="ng-binding ng-scope" style="color: green">SUBSCRIBE FOR UPDATES</span></div>
                        </div>
                    </td>
                    <td style="width: 165px; text-align: center"><span style="color: green">ADDRESS</span></td>
                </tr>
                <tr>
                    <td style="width: 188px;">
                        <p class="font_9" style="text-align: center;"><span class="color_13">Monday-Friday</span>&nbsp;</p>
                        <p class="font_9" style="text-align: center;">7:00am-10:00pm</p>
                        <p class="font_9" style="text-align: center;"><span class="color_13">Saturday-Sunday</span>&nbsp;</p>
                        <p class="font_9" style="text-align: center;">7:00am-8:00pm</p>
                    </td>
                    <td style="width: 183px; text-align: center">

                        Email:<br>
                        <input type="text" name="lastname">
                        <br>

                        <br><input type="submit" value="Submit">

                    </td>
                    <td style="width: 165px;">
                        <p class="font_9" style="text-align: center;">500 Terry Francois St. San Francisco, CA 94158</p>
                        <p class="font_9" style="text-align: center;">Tel: 123-456-7890</p>
                    </td>
                </tr>
            </tbody>
        </table>

    </body>
</head>

</html>
