<!DOCTYPE html>
<html>
<head>

<title>Home Teacher</title>
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'PinelandsMusicSchool/style.css' %}" />

    <style>
    h2 {color: black;
    font-family: verdana;
    font-size: 100%;
    text-align: center;}

    h3 {color: darkorange;
    font-family: verdana;
    font-size: 100%;
    text-align: center;}

    p {
    font-family: verdana;
    font-size: 70%;
    text-align: center;
        }

    table#t01 {
    background-color: #D4DCFF;
    text-align: center;
    }
    .edit a {
        color: white;
        padding: 10px;
        margin-right: 20px;
        background-color: orange;
        text-decoration: none;
        display: inline-block;
        border-radius: 2px;
        width: 20%;
        text-align: center;
        margin-left: 40%;
    }

    </style>

    <body>

      <h1>

      <img src="../../static/PinelandsMusicSchool/images/Banner_Image.png" align= "left" name="Banner" width="350" height="85" margin-bottom="10px" >
</h1>
        <div class="topnav">
        <a href= {% url 'PinelandsMusicSchool:index' %}>Home</a>
        <a href= {% url 'PinelandsMusicSchool:Book_lessons' %}>Book Lessons</a>
        <a href= {% url 'PinelandsMusicSchool:hiring_info' %}>Hire Instruments</a>
        <a href="#">Our Teachers</a>
        <a href= {% url 'PinelandsMusicSchool:Login' %}>Login</a>
      </div>



<h1>Welcome back, Natalie.</h1>

<table style="width:50%" id="t01" align="center">
  <tr>
    <th style="width: 100%"><h2>Lessons</h2></th>
    <th></th>
  </tr>

    <tr>
    <th style="width: 100%"><h3>Mondays: <br>
        Jordan 1PM - 2PM (Guitar)<br>
        Lucy 2PM - 3PM (Saxophone)<br>
        Steven 3PM - 4PM (Saxophone)<br>
        Jessica 4PM - 5PM (Guitar)<br>
        </h3></th>
    <th></th>
  </tr>
    <tr>
    <th style="width: 100%"><h2>Student Contacts</h2></th>
    <th></th>
  </tr>
 <tr>
    <th style="width: 100%"><h3>Jordan: 0412367889<br>
        Lucy: 20202023939<br>
        Steven: 2093409<br>
        Jessica: 0112223343<br>
        </h3></th>
    <th></th>
  </tr>

</table>

<h1>My Details</h1>
        <table style="width:50%" id="t01" align="center">
                <tr>
    <th style="width: 50%"><h3>Full Name:</h3></th>
        <th style="width: 50%"><p>Natalie Portman</p></th>
    <th></th>
    </tr>
      <tr>
    <th style="width: 50%"><h3>Email:</h3></th>
        <th style="width: 50%"><p>natalie@pinelands.com</p></th>
    <th></th>
    </tr>
                <tr>
    <th style="width: 50%"><h3>Password:</h3></th>
        <th style="width: 50%"><p>********</p></th>
    <th></th>
    </tr>
                <tr>
    <th style="width: 50%"><h3>DOB:</h3></th>
        <th style="width: 50%"><p>11/04/1979</p></th>
    <th></th>
    </tr>
                <tr>
    <th style="width: 50%"><h3>Gender:</h3></th>
        <th style="width: 50%"><p>Female</p></th>
    <th></th>
    </tr>
                <tr>
    <th style="width: 50%"><h3>Phone 1:</h3></th>
        <th style="width: 50%"><p>0411223344</p></th>
    <th></th>
    </tr>
                <tr>
    <th style="width: 50%"><h3>Phone 2:</h3></th>
        <th style="width: 50%"><p>N/A</p></th>
    <th></th>
    </tr>
        </table>
        <br>

        <div class="edit">
        <a href="#">Edit</a>
    </div>

        <table style="height: 72px; width: 100%; margin-top: 20px">
            <tbody>
                <tr>
                    <td style="width: 188px; text-align: center;"><span style="color: green,">OPENING HOURS</span></td>
                    <td style="width: 183px;">
                        <div class="header-block align-header-left" style="text-align: center;">
                            <div class="title"><span class="ng-binding ng-scope" style="color: green">SUBSCRIBE FOR UPDATES</span></div>
                        </div>
                    </td>
                    <td style="width: 165px; text-align: center"><span style="color: green">ADDRESS</span></td>
                </tr>
                <tr>
                    <td style="width: 188px;">
                        <p class="font_9" style="text-align: center;"><span class="color_13">Monday-Friday</span>&nbsp;</p>
                        <p class="font_9" style="text-align: center;">7:00am-10:00pm</p>
                        <p class="font_9" style="text-align: center;"><span class="color_13">Saturday-Sunday</span>&nbsp;</p>
                        <p class="font_9" style="text-align: center;">7:00am-8:00pm</p>
                    </td>
                    <td style="width: 183px; text-align: center">

                        Email:<br>
                        <input type="text" name="lastname">
                        <br>

                        <br><input type="submit" value="Submit">

                    </td>
                    <td style="width: 165px;">
                        <p class="font_9" style="text-align: center;">500 Terry Francois St. San Francisco, CA 94158</p>
                        <p class="font_9" style="text-align: center;">Tel: 123-456-7890</p>
                    </td>
                </tr>
            </tbody>
        </table>
    </body>
