<!DOCTYPE html>
<html>

<head>

    <title>Music School </title>
    {% load static %}

    <link rel="stylesheet" type="text/css" href="{% static 'PinelandsMusicSchool/style.css' %}" />


    <body>

        <h1>
            <img src="../../static/PinelandsMusicSchool/images/Banner_Image.png" align="left" name="Banner" width="350" height="85" margin-bottom="10px">
        </h1>
        <div class="topnav">
        <a href= {% url 'PinelandsMusicSchool:index' %}>Home</a>
        <a href= {% url 'PinelandsMusicSchool:Book_lessons' %}>Book Lessons</a>
        <a href= {% url 'PinelandsMusicSchool:hiring_info' %}>Hire Instruments</a>
        <a href="#">Our Teachers</a>
        <a href= {% url 'PinelandsMusicSchool:Login' %}>Login</a>
      </div>

        <div class="loginbox">
            <h2>Login Here</h2>
            <form>
                <m>Username</m>
                <input type="text" name="" placeholder="Enter Username">
                <m>Password</m>
                <input type="password" name="" placeholder="Enter Password">
                <input type="submit" name="" placeholder="Login">
                <a href= {% url 'PinelandsMusicSchool:create_account' %}>Create your account </a>
        </form>

        </div>






        <table style="height: 72px; width: 100%; margin-top: 20px">
            <tbody>
                <tr>
                    <td style="width: 188px; text-align: center;"><span style="color: green,">OPENING HOURS</span></td>
                    <td style="width: 183px;">
                        <div class="header-block align-header-left" style="text-align: center;">
                            <div class="title"><span class="ng-binding ng-scope" style="color: green">SUBSCRIBE FOR UPDATES</span></div>
                        </div>
                    </td>
                    <td style="width: 165px; text-align: center"><span style="color: green">ADDRESS</span></td>
                </tr>
                <tr>
                    <td style="width: 188px;">
                        <p class="font_9" style="text-align: center;"><span class="color_13">Monday-Friday</span>&nbsp;</p>
                        <p class="font_9" style="text-align: center;">7:00am-10:00pm</p>
                        <p class="font_9" style="text-align: center;"><span class="color_13">Saturday-Sunday</span>&nbsp;</p>
                        <p class="font_9" style="text-align: center;">7:00am-8:00pm</p>
                    </td>
                    <td style="width: 183px; text-align: center">
                        Email:<br>
                        <input type="text" name="lastname">
                        <br>

                        <br><input type="submit" value="Submit">

                    </td>
                    <td style="width: 165px;">
                        <p class="font_9" style="text-align: center;">500 Terry Francois St. San Francisco, CA 94158</p>
                        <p class="font_9" style="text-align: center;">Tel: 123-456-7890</p>
                    </td>
                </tr>
            </tbody>
        </table>

    </body>
</head>

</html>
